<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=S, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Dwayne Johnson</title>
  </head>
  <body>
    <ul>
      <li>
        <a href=""></a>
        About
      </li>
      <li>works</li>
    </ul>
    <h1>Welcome to the Dwayne Johnson page!</h1>
    <img
      src="https _s3-images.sportbible.com_s3_content_a87d98d35f68c2fc94b0604a44d2e0dc.jpg"
      alt="dwayne"
    />
  </body>
</html>
